%title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-title);
  @include mq(tab) {
    font-size: 30px;
  }
  @include mq(desk) {
    margin-bottom: 50px;
    font-size: 54px;
  }
}

%subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: var(--color-title);
  @include mq(desk) {
    font-size: 28px;
  }
}

%btn {
  padding: 19px 96px 20px 97px;
  @include mq(tab) {
    padding: 19px 103px 20px 104px;
  }

  @include mq(desk) {
    font-size: 20px;
    padding: 22px 95px;
  }
  background-color: var(--bg-btn-hero);
  color: var(--color-btn);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;

  background-size: 200% 100%;
  background-image: linear-gradient(to right, var(--bg-btn-hero) 50%, var(--bg-btn-hover-hero) 50%);
  transition: background-position 300ms cubic-bezier(0.19, 1, 0.22, 1) 100ms, color 500ms ease 0ms,
    background-color 500ms ease;

  &:hover,
  &:focus {
    color: var(--color-btn);
    background-color: var(--bg-btn-hover-hero);
    background-position: -100% 100%;
  }
}
