body {
    background-color: var(--bg-color-primery);
    color: var(--color-text-primery);

    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    @include mq(tab) {
      font-size: 16px;
      line-height: 1.45;
    }
  @include mq(desk) {
    font-size: 20px;
        line-height: 1.45;
  }
}